body {
    font-family: 'SoDo Sans';
    background: #D5E9E2;
    overflow-x: hidden;
}

@font-face {
    font-family: 'SoDo Sans';
    src: url('../fonts/SoDoSans-Light.eot');
    src: url('../fonts/SoDoSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SoDoSans-Light.woff2') format('woff2'),
        url('../fonts/SoDoSans-Light.woff') format('woff'),
        url('../fonts/SoDoSans-Light.ttf') format('truetype'),
        url('../fonts/SoDoSans-Light.svg#SoDoSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SoDo Sans';
    src: url('../fonts/SoDoSans-Regular.eot');
    src: url('../fonts/SoDoSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SoDoSans-Regular.woff2') format('woff2'),
        url('../fonts/SoDoSans-Regular.woff') format('woff'),
        url('../fonts/SoDoSans-Regular.ttf') format('truetype'),
        url('../fonts/SoDoSans-Regular.svg#SoDoSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SoDo Sans';
    src: url('../fonts/SoDoSans-Bold.eot');
    src: url('../fonts/SoDoSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SoDoSans-Bold.woff2') format('woff2'),
        url('../fonts/SoDoSans-Bold.woff') format('woff'),
        url('../fonts/SoDoSans-Bold.ttf') format('truetype'),
        url('../fonts/SoDoSans-Bold.svg#SoDoSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
    font-family: "Blackout Midnight";
    src: url("../fonts/Blackout-Midnight.eot?") format("eot"), url("../fonts/Blackout-Midnight.woff") format("woff"), url("../fonts/Blackout-Midnight.ttf") format("truetype"), url("../fonts/Blackout-Midnight.svg#Blackout-Midnight") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'SoDo Sans';
    src: url('../fonts/SoDoSans-Thin.eot');
    src: url('../fonts/SoDoSans-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SoDoSans-Thin.woff2') format('woff2'),
        url('../fonts/SoDoSans-Thin.woff') format('woff'),
        url('../fonts/SoDoSans-Thin.ttf') format('truetype'),
        url('../fonts/SoDoSans-Thin.svg#SoDoSans-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

.container {
    width: 375px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding: 0px;
}

.headSection {
    padding-top: 100px;
    transition: all .5s ease-out;
}

.headSection {
    position: fixed;
    height: 158px;
    transition: all .5s ease-out;
    width: 375px;
    overflow: hidden;
    top: 0;
    z-index: -1;
}

/* .headSection.pAdjust{
    height: 108px;
    transition: all .5s ease-out;
} */


.hand {
    position: relative;
}

.hand img {
    position: absolute;
    right: 220px;
    top: -147px;
}

.Dog {
    width: 105px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 30px;
    overflow: hidden;
}

.eye {
    position: relative;
    height: 25px;
    width: 0px;
    background: transparent;
    top: -84px;
    left: 31px;
    transition: visibility 0s, opacity 0.5s linear;
}

.Dog .eye:nth-child(2) {
    position: relative;
    height: 25px;
    width: 0px;
    background: transparent;
    top: -84px;
    left: 30px;
}

.Dog.choocho2 .eye {
    display: block;
    transition: visibility 0s, opacity 0.5s linear;
}

.eye:after {
    position: absolute;
    bottom: 12px;
    right: 8px;
    width: 8px;
    height: 8px;
    background: #000;
    content: " ";
}

.move-area {
    /*normally use body*/
    width: 100vw;
    height: 100vh;
}

.logo {
    text-align: center;
    margin-top: 100px;
}

.logoTitle {
    text-align: center;
    margin-top: 20px;
}

.Title {
    text-align: center;
    padding: 26px 28px 0;
}

.Title p {
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
}

.Title p span {
    font-weight: bold;
}

.cup {
    position: relative;
    width: 102px;
    height: 66px;
    left: -16px;
}

/* .cup img {
    position: absolute;
    left: -15px;
} */

.timeline {
    background: #D5E9E2 url(../img/meter_art.svg) no-repeat;
    width: 100%;
    height: 2171px;
    background-position: left -73px top;
    margin-top: 40px;
    text-align: center;
}

.frameList {
    margin-bottom: 32px;
    position: relative;
}

.frameList p {
    font-size: 10px;
    color: #000;
    position: absolute;
    left: 69px;
    bottom: -10px;
    transform: rotate(90deg);
    font-family: "Blackout Midnight";
}

.cup2 {
    position: absolute;
    right: -16px;
    top: 75px;
}

.frameList2 p {
    font-size: 10px;
    color: #000;
    position: absolute;
    left: 55px;
    bottom: -10px;
    transform: rotate(90deg);
    font-family: "Blackout Midnight";
}

.frameList3 p {
    font-size: 10px;
    color: #000;
    position: absolute;
    left: 77px;
    bottom: -50px;
    transform: rotate(90deg);
}

.footerTxt {
    background: #fff;
    padding: 34px;
    margin-top: -2px;
}

.footerTxt p {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
}

.footerTxt p span {
    font-weight: bold;
}

.footerTxt p:last-child {
    margin-bottom: 0px;
}

.footercat {
    text-align: center;
    height: 105px;
    position: relative;
}

.footercat .scrollUp {
    position: absolute;
    right: 20px;
    top: 30px;
    cursor: pointer;
}

.footer {
    background: #fff;
    text-align: center;
    padding: 60px 0px 20px 0px;
    text-align: center;
}

.footer img {
    margin-bottom: 20px;
}

.footer p {
    font-size: 7px;
    color: #000;
    margin-bottom: 10px;
}

#trainMotion img {
    transform: translate(0%, 0%);
    transition: all .5s ease-out;
    width: 813px;
}

#trainMotion.choocho img {
    transform: translate(-25%, 0%);
    transition: all .5s ease-out;
}


#trainMotion2 img {
    transform: translate(0%, 0%);
    transition: all .5s ease-out;
}

#trainMotion2.choocho2 img {

    transform: translate(100%, 0%);
    transition: all .5s ease-out;
}




/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
    padding: 0;
}

/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
    top: 0;
    bottom: 0;
}

/* padding for main container */
.mfp-no-margins .mfp-container {
    padding: 0;
}


/* 

for zoom animation 
uncomment this part if you haven't added this code anywhere else

*/
/*

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}
*/



.footercat .catImg {
    width: 74px;
}

.footercat img {
    width: 44px;
}

.logoTitle img {
    width: 302px;
}

.logo img {
    width: 40px;
}

.cup img {
    width: 102px;
}

.cup2 img {
    width: 114px;
}

.Dog img {
    width: 105px;
}

.footer img {
    width: 127px;
}


@media(max-width:415px){
    .container{
        width: 100%;
    }
    .headSection{
        width: 100%;
    }
    .hand img {
        right: 250px;
    }
}